Makefile
/src/wiomw-agent
/test/src/*.out
/config.h
/autom4te.cache
/autoscan.log
/config.log
/config.status
/configure.scan
/doc/*.aux
/doc/*.fdb_latexmk
/etc/ssl/certs/@sysconfig@
/test/site.exp
/test/site.bak
/test/*.sum
/test/*.log
/wiomw-*.tar.*
stamp-h*
.svn
*.gch
*.o
*.Po
*.gcno
*.gcda
*.gcov
*~
*.swp
