/Makefile.am
/dosname.h
/fcntl.in.h
/gettimeofday.c
/lstat.c
/pathmax.h
/stat.c
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio.in.h
/sys_stat.in.h
/sys_time.in.h
/tempname.c
/tempname.h
/time.in.h
/tmpdir.c
/tmpdir.h
/tmpfile.c
/unistd.in.h
/verify.h
